body {
  margin: 0;
  padding: 0;
  /* more styles */
}


#alfabanner {
  text-align: center;
}

.pictures {
  text-align: center;
  padding-top: 25px;
}

.works {
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.marginbottom {
  margin-bottom: 30px;
}

.mr-3 {
  cursor: pointer
}

.particles {
  position: fixed;
  width:100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}