#alfabanner {
  position: relative;
}

.pictures {
  text-align: center;
  padding-top: 25px;
}

.works {
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.marginbottom {
  margin-bottom: 30px;
}

.mr-3 {
  cursor: pointer
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}