

#alfabanner {
  text-align: center;
}

.pictures {
  text-align: center;
  padding-top: 25px;
}

.works {
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.marginbottom {
  margin-bottom: 30px;
  overflow:hidden;
}

.mr-3 {
  cursor: pointer;
}

.particles {
  position: fixed;
  width:100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}

.socialicon{
  margin: 10px;
}

.img-hover-zoom { 
  transition: all .2s ease-in-out; 
}

.img-hover-zoom:hover { 
  transform: scale(1.1); 
}

.arrow {
  cursor: pointer;
}

.main-images {
  border-radius: 10px;
}

.footer {
  background-color: #f5f5f5;
}

.foter-text {
  margin: 20px;
}

.text-muted {
  text-align: center;
  margin: 20px;
}

.request-class {
  background-color: forestgreen;
  color: white;  
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: forestgreen;
}
