#alfabanner {
  position: relative;
}

.pictures {
  text-align: center;
  padding-top: 25px;
}

.works {
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.marginbottom {
  margin-bottom: 30px;
}

.mr-3 {
  cursor: pointer
}
