

#alfabanner {
  text-align: center;
}

.pictures {
  text-align: center;
  padding-top: 25px;
}

.works {
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.marginbottom {
  margin-bottom: 30px;
  overflow:hidden;
}

.mr-3 {
  cursor: pointer;
}

.particles {
  position: fixed;
  width:100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}

.socialicon{
  margin: 10px;
}

.img-hover-zoom { 
  transition: all .2s ease-in-out; 
}

.img-hover-zoom:hover { 
  transform: scale(1.1); 
}

.arrow {
  cursor: pointer;
}

.main-images {
  border-radius: 10px;
}

.footer {
  background-color: #f5f5f5;
}

.foter-text {
  margin: 20px;
}

.text-muted {
  text-align: center;
  margin: 20px;
}

.request-class {
  background-color: forestgreen;
  color: white;  
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: forestgreen;
}


.elementToFadeInAndOut {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:200px;
  height: 200px;
  -webkit-animation: fadeinout 3s linear forwards;
  animation: fadeinout 3s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
50% { opacity: 1; }
}

@keyframes fadeinout {
50% { opacity: 1; }
}

.body-content{
  opacity: 1;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}